<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('./partials/head'); -%>
    </head>
    <body>
        <%- include('./partials/header'); -%>     
        <!--Reste de la page-->
        <div id="demande" class="col-md-12">
        </div>

        

        <%- include('./partials/menu'); -%>
        <%- include('./partials/footer'); -%>
    </body>
</html>