/* Fichier Css */
/* Général */
h1, h5, .modal-header {
    color: #842929;
}
#bjr {
    position: relative;
    top: -63px;
    left: 0;
}

body {
    font-family: 'Comic Neue', cursive;
/*    font-family: helvetica, arial, sans-serif;*/
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #ededed;
    min-height:100vh;
    width: 100%;
    position: relative;
}
/* Fin Général */


/* header */
header, .haut {
    background: white;
    height: 80px;
    border-bottom: 1pt solid #842929;
}

/* Fin header */


/* lien inscription_connexion */
.modal-open .modal {
    overflow: hidden;
}
#inscription_connexion {
    top: 5px;
}
#inscription_connexion a, #deconnexion p, #bjr  {
    color: #842929;
    font-size: 20px;
}

#inscription_connexion a:hover{
    color: #66748a;
    font-size: 20px;
    text-decoration-line: none;
}

/* Fin lien inscription_connexion */



/* Menu */

.change_page, .sidebar .change_page {
    color: black;
}

.sidebar {
    height: 100%;
    width: 0; /* c'est l'attribut qui permet d'afficher ou non le menu (width=0 => menu fermé)*/
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #842929;
    overflow-x: hidden; /* pour dire que si le contenu deppase le width il ne l'affiche pas */
    /* donc quand le width=0 il va pas afficher le menu */
    padding-top: 0px;
    transition: 0.5s;
    /* box-shadow: 2px 2px 2px #2a3951; */
}

/* les elements du menu */
.sidebar div {
    padding: 0px;
}
.sidebar #login {
    padding-top: 8px;

}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: black;
}

/* le bouton qui ferme le menu */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.buttonProf {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonProfiles {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}


#mySidebar #gdmenu a:nth-child(1) {
    /*padding-top: 110px;*/
    padding-top: 70px;
}

#mySidebar #gdmenu div a img:nth-child(1) {
    position: absolute;
    top: 20px;
}


/* le bouton qui ouvre le menu */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    /*  background-color: #ededed;*/
    background-color: white;
    color: black;
    padding: 10px 15px;
    padding-bottom: 3px;
    border: none;
    position: absolute;
    z-index: 3;
    top: 0px;
}


.openbtn:hover {
    background-color: #842929;
}


#pageContent {
    transition: margin-left .5s;
    padding: 20px;
    padding-top: 35px;

}



/*accueil */
#acceuil #aa #carous {
    width: 70%;
}

.carousel-inner img {
    max-height: 600px;
    width: 100%;

}
.carousel-caption {
    right: 30%;
    left: 30%;
}



/* Inscription / connexion */
#exampleModalCenter .modal-content{
    box-shadow: 2px 2px 2px #2a3951
}

#exampleModalCenter .form-control{
    border: 0.1px solid white;
}

#exampleModalCenter .form-group{
    margin-left: 5px;
    margin-right: 5px;
    padding-top:5px;
    padding-bottom:5px;
    border: 1px solid #66748a;
    border-radius: 10px;
}

/* Fin Inscription / connexion */



/* debut Profil */
.form-control-file, .form-control-range{
    width: 60%;
}

#profil {
    /*padding-left: 50px;
    padding-right: 50px; */
}

/*
.userCard {
    display: "";
}
*/
#profil .card{
    background-color: #7366a54f;
    box-shadow: 2px 2px 2px #2a3951;
}

.demandeContainer {
    display:inline;
}

#profil #info_perso .card {
    padding: 50px;
}
#profil #info_perso {
    padding: 20px;
}
#profil #avis {
    padding: 19px;
    margin: 5px;
}
#profil .titre_page {
    padding-top: 50px;
    padding-bottom: 50px;
}

#profil #photo_profil1 img{
    height: 150px;
    width: 70%;
}

#profil #avis #voir_com {
    font-size: 10px;
}

#profil #Modalavis .modal-body{
    height : 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

#profil .form-control, #profil .progress-bar {
    background-color: #842929;
}

#profil .form-control {
    color: white; 
}


.separation_paragraphe {
    height: 30px;
}

#profil .msg {
    display: inline-block;
}

#profil #msg_non_lu {
    position: relative;
    top: -18px;
    left: -10px;

}
    
#profil .commentaire {
    font-family: 'Comic Neue', cursive;
}

/* fin profil */





/* Messagerie */

#messagerie form {
    padding-left: 50px;
}
#messagerie #response {
    position: absolute;
    z-index: 5;
}
#messagerie textarea {
    resize : none ;
}


#messagerie #messages .badge {
    white-space:normal;
    text-align: left;
}
#messagerie #messages {
    list-style:none;
    height: 400px;
    overflow: auto;
    font-size: 25px;
    padding: 0px;
}
/* fin Messagerie */



/*Recherche profil */
#recherche_profil #search  input{
    background: none;
    border: none;
    color: white;
    margin-top:1%;
    margin-bottom:1%;
}

#recherche_profil #search  {
    margin-left: 15%;
    margin-right: 15%;
    height: 90px;
    font-size: 40px;
}

#recherche_profil .box_search {
    padding-bottom: 50px;
}

#recherche_profil .border_img {
    border-width: 1px;
    border-color: #ededed;
    border-style: solid;
}

#recherche_profil img {
    max-width: 100%;
}

#recherche_profil #liste {
    padding: 5px;
}

#recherche_profil #liste  .card {
    padding-top: 1%;
    background: #842929;
    color: white;
    flex-direction: row;
}

#recherche_profil #liste .profil {
    margin: 15px;
    border-radius: 2%;
}

#recherche_profil #liste .profil ul {
    padding-left: 0px;
}

#recherche_profil #liste .profil {
    opacity: 1;
}
#recherche_profil #liste .profil:hover {
    opacity: 0.8;
    cursor: pointer;
}
#recherche_profil #liste .profil li {
    list-style: none;
}

#recherche_profil .input-group {
    margin-top: 10px;
}

#recherche_profil .input-group-text {
    width: 200px;
}

#recherche_profil #accordion {
    width: 600px;
}
#recherche_profil .rating {
    direction: rtl;
}

.rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
}

.rating a:hover, .rating a:focus, .rating a:hover ~ a, .rating a:focus ~ a {
    color: #842929;
    cursor: pointer;
} 
/*Fin Recherche profil */



/*Demande */
#demande .liste {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;

    margin: 20px;
}

#demande .liste .etat {
    width: 150px;
}



.modaledemande .modal-body h5 {
    padding-right: 5px;
}

/*Fin Demande */




/*Début Proposer */
#proposer .form-check-input {
     position: relative; 
}

#proposer .form-group {
    margin : 0px;
    margin-bottom: 5px;
}

/*Fin Proposer */



/*Modal inscription*/

.btn-dark {
    color: #fff;
    background-color: #4a43419c !important;
}

.btn-success {
    color: #fff;
    background-color: #227d35 !important;
}
/*Modal inscription*/




/************************* @Media ******************************/
@media screen and (max-width: 650px) {
    /*Profil */
    #profil .card {
        background: none;
        box-shadow: none;
    }

    #profil #avis {
        margin: 0px; 
    }
    #profil .titre_page {
        padding-top: 10px;
        padding-bottom: 0px;
        font-size: 25px;
    }

    #profil #photo_profil1 {
        visibility: hidden;
        height: 0px;
        width: 0px;
        margin: 0px;
        padding: 0px;
    }
    #profil #photo_profil2 {
        visibility: visible;
    }
    #profil #photo_profil2 img{
        height: 75px;
        width: 40%;

    }

    #profil #photo_profil2 {
        visibility: hidden;
        height: 0px;
        width: 0px;
        margin: 0px;
        padding: 0px;
    }
    #profil #photo_profil1 {
        visibility: visible;
    }

    /* Rechercher profil */
    #recherche_profil img {
        max-width: 100%;
    }

    #recherche_profil #liste .profil {
        height: 120px;
    }
    #recherche_profil #search  {
        height: 45px;
        font-size: 15px;

        margin-left: 20%;
        margin-right: 20%;

    }
    

    #recherche_profil #search input {
        margin-top: 4%;
        margin-bottom: 4%;
    }
    
    #recherche_profil .box_search {
        padding-bottom: 2px;
    }


    #recherche_profil .input-group-text {
        width: 155px;
    }
    
    #recherche_profil #headingOne button {
        padding: 0px;
        margin: 0px;
        color: #842929;
    }
    
    
    #recherche_profil .input-group {
        margin-top: 10px;
    }
    
    #recherche_profil .input-group-lg div:nth-child(n) , #recherche_profil .input-group-lg input:nth-child(n){
        height: 30px;
        padding: 0px;
        margin: 0px;
    }
    #recherche_profil .input-group-lg span {
        font-size: 13px;
    }
    
    .rating a {
        font-size: 20px;
        padding : 0px 2px;
    }
    
    .rating {
        padding : 1px 0px;
    }


    
    /*Inscription /connexion */
    #inscription_connexion {
        padding-top: 10px;
        position: absolute;
        right: 0px;

    }

    #deconnexion {
        padding-top: 10px;
        position: absolute;

    }

    #inscription_connexion p, #deconnexion p, #bjr {
        font-size: 11px;
    }
    
    #bjr {
        position: relative;
        top: -63px;
        left: -31px;
    }

     .modal-dialog {
        margin: 0px;
        padding: 0px 30px 0px 15px;
    }
    
    /*Messagerie */
    #messagerie #nav-tabContent {
        border: 1px solid #842929;
/*        margin-top: 60px;*/
        display: none;
        
    }
    
    #messagerie #messages {
    height: 340px;
    }
    
    #messagerie #btnBack {
        position: fixed;
        top: -45px;
        background-color: transparent;
        border: none;
        color: #842929;
    }
    
    
     #messagerie #btnBack {
         display: none;
    }
    
    #messagerie #nav-tabContent {
        display: block;
    }
    
     #messagerie .list-group {
         display: flex;
    }
    

    
    /*Acceuil */
    #acceuil #description article p {
        font: 12px;
    }

    #acceuil #description {
        padding-top: 20px;
    }

    #acceuil #aa #carous {
        height: 150px;
    }

    #acceuil section {
        visibility: visible;
    }

    /*Menu */
    #mySidebar #gdmenu {
        visibility: hidden;
        height: 0px;
        width: 0px;
        overflow: hidden;
    }
    #mySidebar #ptmenu{
        visibility: visible;
        margin-top: 70px;
    }

    #mySidebar #ptmenu .closebtn {
        position: absolute;
        top: -75px;
        left: -52px;

    }

    
    
    /* Réduire la taille du menu sur les smartphones */
    .sidebar {
        padding-top: 15px;=

    }
    .sidebar a {
        font-size: 18px;
    }
    
    
    /* Head */
    header img {
        max-width: 30%;
        position: absolute;
        top: 12px;
        left: 40%;
        right: 30%;
    }
}



@media screen and (min-width: 650px) {
    /*accueil */
    #acceuil section {
        visibility: hidden;
        height: 0px;
        overflow: hidden;
    }

    /*menu */
    #mySidebar #gdmenu {
        visibility: visible;
    }
    #mySidebar #ptmenu {
        visibility: hidden;
        height: 0px;
        overflow: hidden;
    }
}

@media (min-width: 650px) and (max-width: 800px) {
    /* rechercher un profil */
    #recherche_profil img {
        max-width: 30%;
    }

    /*profil */
    
    #profil #info_perso {
        margin: 5px  ;
    }
    .titre_page {
        margin: 0px 0px 8px;
    }
    
    /* head */
    header img {
        max-width: 160px;
        position: absolute;
        top: -46px;
        left: 38%;
    }
}




@media screen and (min-width: 800px) {
    #profil #info_perso {
        margin: 5px;
        margin-left: 15%  ;
    }
    header img {
        max-width: 240px;
        position: absolute;
        top: -60px;
        left: 45%;
    }
}


